<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
           background-color: deeppink; 
           color: black;
        }
        span{
            color: mediumspringgreen;
        }
    </style>
</head>
<body>
    <h1>Hello Friend, <span>{{ wish }}</span></h1>
    <h2>Now the server time is: <span>{{ time }}</span></h2>
    <h2>Austorlogy Info: <span>{{ msg }}</span></h2>
    <h2>Very soon, you are going to get marriage with <span>{{name}}</span></h2>
</body>
</html>