<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: rgb(148, 151, 140);
        }
        h1{
            /* color: rgb(181, 174, 174);
             */
            border: 2px solid gray;             
        }
        p{
            background-color: deeppink;
        }
    </style>
</head>
<body>
    <h1>Welcome to django template project</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam, maxime inventore blanditiis obcaecati libero consequatur iste beatae ratione hic enim dolore tempore alias sequi animi nostrum in rerum cumque dolorem nulla accusantium mollitia dolores!</p>
    <h2>Django app running!</h2>
</body>
</html>